p {
    text-align: center;
}

.stories {
    background-color: crimson;
    width: 100%;
}

.central-page-stories {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}